/* Titles
   ========================================================================== */
h1,
h2,
h3 {
  font-weight: 300;
}

h1 {
  font-size: $h1-font-size;
  margin: 0;
}

h2.mid {
  font-size: $h2-mid-font-size;
}

h2 small {
  font-size: $h2-small-font-size;
}

h4 {
  font-size: $h4-font-size;
  line-height: 1.5em;
}
