$header-bg: #fe673a;
$header-gradient-initial: $grad-init;
$header-gradient-middle: $grad-middle;
$header-gradient-final: $grad-final;
$header-version-font-size: 12px;
$small-header-height: 316px;
$header-height: 500px;
$small-content-padding: 10rem;
$content-padding: 15rem;
