/* download-icons-button variables
   ========================================================================== */
$download-icons-button-bg: rgba(255, 151, 48, 1);
$download-icons-button-bg-hover: rgba(255, 151, 48, 1);
$download-icons-button-text-color: white;
$download-icons-button-padding: $s;
$download-icons-button-logo-margin: $s;
