$eos-cookies-banner-boxshadow: 0px -3px 6px rgba(6, 6, 6, 0.05);
$eos-cookies-banner-background: $light-color;
$eos-cookies-banner-padding: $xxl + 2;
$eos-cookies-banner-p-margin-top: $m;
$eos-cookies-banner-width: 100%;
$eos-cookies-banner-zindex: $icons-picker-loading-zindex;
$eos-cookies-banner-buttons-padding: $l - 4 0;
$eos-cookies-banner-button-margin: 0 $xs + 1;
$eos-cookies-offset-height: 20vh;
